<body
  [style]="{
    background: backGroundColor,
    color: fontColor,
    margin: '0px',
    padding: '0',
    height: '100%',
    width: '100%'
  }"
>
  <h1>Angular</h1>
  <p>{{ title }}</p>

  <p>Total de versões: {{ versions.length }}</p>
  <ul>
    <li *ngFor="let version of versions" [style]="{ color: tunaColor }">
      {{ version }}
    </li>
  </ul>

  <p>Versão atual: {{ currentVersion }}</p>

  <!-- <input
    type="text"
    [value]="currentVersion"
    (keydown)="changeVersion($event.target.value)"
  /> -->

  <ul>
    <li
      *ngFor="let build of builds"
      [style]="{ color: tunaColor }"
      [class]="{ buildsHidden: false }"
    >
      {{ build.id }} - {{ build.name }} - {{ build.version }} -
      {{ build.getType(build) }}
    </li>
  </ul>
  <div *ngIf="showWarning">{{ warningMsg }}</div>

  <div *ngIf="builds.length <= 1">
    <input type="text" />
    <button>Adicionar</button>
  </div>

  <p *ngIf="builds.length >= 5">Entre outras builds...</p>

  <!-- <input type="text" [value]="versaoAtual" /> -->
  <p [hidden]="showInput">Recomendação de Builds</p>
  <input type="text" [hidden]="showInput" />

  <!-- <input type="text" [disabled]="showInput" /> -->

  <!-- <button (click)="tunaColor = '#0000FF'">Mudar Cor</button> -->
  <button (click)="changeBackgroundColor('#FFFFFF', '#202225')">
    💡LightMode
  </button>
  <button (click)="changeBackgroundColor('#202225', '#FFFFFF')">
    🌙DarkMode
  </button>
</body>
